*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

header{
    padding: 100px;
    text-align: center;
    background-color: rgb(100,100,100);
    color: white;
    font-family: "Helvetica Neue";
    font-size: 15pt;
}

#cadastro a{
    font-family: arial;
    font-weight: 8pt;
    text-decoration: none;
    color: #000000;
    margin: 100px;
    transition: ease 1s;
}

#cadastro a:hover{
    color: #f00;
    padding:10px;
}
#cadastro{
    padding:10px;
}

form{
    padding: 10px;
    weight: 40%;
    margin: auto;
    text-align: center;
    display: none;

}

input{
    width: 100%;
    padding: 10px;
    display: block;
    margin: 5px;
}

button{
    padding: 10px;
    border: 0px;
    background-color: rgba(128, 26, 26, 0.753);
    color: black;
    cursor: pointer;
}

#produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 5px 5px silver;
    justify-content: center;

}

#produtos div{
    width: 30%;
    margin: 5px;
    text-align: center;
    border: 1px solid #eee;

}
#produtos div img{
    width: auto;
    height: 200px;
}

h2{
    font-family: "lucida Sans";
    font-size:12pt;
}

h4{
    font-family: "lucida Sans";
    font-size: 10pt;
    font-weight: lighter;
}

h5{
    color: rgb(184, 6, 6);
    font-family: "lucida Sans";
    
}